[Unit]
Description=IQ Logger Server

[Service]
LimitNOFILE=1024
LimitNPROC=1024
CPUQuota=200%
MemoryLimit=2G
TasksMax=1024
Type=simple
User=iqlogger
ExecStart=/usr/local/bin/iqlogger --config=/etc/iqlogger/iqlogger.json
PIDFile=/var/run/iqlogger.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
